fastapi==0.111.0
uvicorn==0.30.1
Jinja2==3.1.4
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pandas==2.2.2
gunicorn==22.0.0  # <--- Está instalado
python-multipart==0.0.9
loguru==0.7.2
loguru==0.7.2
# Nuevo: para hashing de contraseñas
Werkzeug==3.0.1
python-jose[cryptography]==3.3.0